$white: #ffffff;
$charming-white: #faf6f2;
$black: #000000;
$black-velvet: #171717;
$grey-dark: #222;
$grey: #333333;
$grey-50: #9e9e9e;
$grey-80: #e7e2dc;
$grey-90: #f2ede7;
$cool-grey-1-c: #d9d9d6;
$ruby-glow: #ba0c2f;
$origin: #ab2632;
$wallnut: #946037;
$wenge: #4f2c1c;
$graphite: #2d2926;
$red-violin: #fa4616;
